<!doctype html>
<html>
<head>
<meta charset="utf-8">
<title>小胖机器人</title>
<link rel="stylesheet" type="text/css" href="/Index/css/style.css">
</head>

<body>
	{include file="Public:head" /}
	
	<div class="xpbanner">	
		<div class="content">
		<a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin={:getAdminConfig('system.WEB_SITE_QQ')}&site=qq&menu=yes">
					立即咨询
		</a>
		</div>
	<img src="/Index/img/jqrbanner.jpg" style="width: 100%;z-index: -99">

	</div>
	<div class="gongnxqbc">
		<div class="gongnxq">
			<h2>多种功能满足不同需求</h2>
			<ul>
				<li><img src="/Index/img/icon-qgpb.png"><p>情感陪伴</p></li>
				<li><img src="/Index/img/icon-spth.png"><p>视频通话</p></li>
				<li><img src="/Index/img/icon-yypz.png"><p>语音拍照</p></li>
				<li><img src="/Index/img/icon-hdyl.png"><p>互动娱乐</p></li>
				<li><img src="/Index/img/icon-zntx.png"><p>智能提醒</p></li>
				<li><img src="/Index/img/icon-jjhj.png"><p>紧急呼叫</p></li>
				<li><img src="/Index/img/icon-jkgl.png"><p>健康管理</p></li>
			</ul>
		</div>
	</div>
<!--	大图开始-->
	<div class="qgphpic">
		<img src="/Index/img/robot/img (1).jpg">
		<img src="/Index/img/robot/img (2).jpg">
	</div>	
	<div class="spthpic">
		<img src="/Index/img/robot/img (3).jpg">
		<img src="/Index/img/robot/img (4).jpg">
	</div>
	<div class="spthpic">
		<img src="/Index/img/robot/img (5).jpg">
		<img src="/Index/img/robot/img (6).jpg">
	</div>
	<div class="spthpic">
		<img src="/Index/img/robot/img (7).jpg">
		<img src="/Index/img/robot/img (8).jpg">
	</div>
		<div class="spthpic">
		<img src="/Index/img/robot/img (9).jpg">
		<img src="/Index/img/robot/img (10).jpg">
	</div>
		<div class="spthpic">
		<img src="/Index/img/robot/img (11).jpg">
		<img src="/Index/img/robot/img (12).jpg">
	</div>
		<div class="spthpic">
		<img src="/Index/img/robot/img (13).jpg">
		<img src="/Index/img/robot/img (14).jpg">
	</div>			
		<div class="spthpic">
		<img src="/Index/img/robot/img (15).jpg">
		<img src="/Index/img/robot/img (16).jpg">
	</div>		
	<div class="spthpic">
		<img src="/Index/img/robot/img (17).jpg">
		<img src="/Index/img/robot/img (18).jpg">
	</div>

				<!--页脚部分-->
	{include file="Public:foot" /}
		
<!--	    <button id="test" style="position:fixed;right:0;bottom:0;background: #e99026;border:none;height: 50px;width: 50px;font-size: 16px;color: #fff">回到顶部</button>-->
    <script src="/Index/js/jquery.min.js"></script>
    <script src="/Index/js/scrolltopcontrol.js"></script>
    <script>
    /*
        test.onclick = function(){
            document.body.scrollTop = document.documentElement.scrollTop = 0;
        }
    */
    </script>	
		
</body>
</html>
