<script src="/static/js/plugins/treeview/bootstrap-treeview.min.js"></script>
<div id="permissions"></div>
<script>
    $(function() {
        var treeData = [
        {foreach $data_list as $key=>$vo}
            {
                id:{$vo.id},
                text:"{$vo.description}",
                state:{
                    checked:false
                }
                {if count($vo['_child']) > 0}
                ,nodes : [
                    {foreach $vo['_child'] as $child}
                        {
                            id:{$child.id},
                            text:"{$child.description}",
                            state:{
                                checked:false
                            }
                        },
                    {/foreach}
                ],
                {/if}
            },
        {/foreach}
        ];

        $('#permissions').treeview({
            levels: 1,
            expandIcon: 'glyphicon glyphicon-chevron-right',
            collapseIcon: 'glyphicon glyphicon-chevron-down',
            selectedBackColor: false,
            // selectedColor: '#337AB7',
            highlightSelected : false,
            showCheckbox: 1,//这里之所以写1，是因为我引得js源码里定义1为true
            multiSelect: !1,//这里之所以写1，是因为我引得js源码里定义1为true
            data: treeData,

            onNodeChecked: function(event, node) { //选中节点
                var selectNodes = getChildNodeIdArr(node); //获取所有子节点
                if (selectNodes) { //子节点不为空，则选中所有子节点
                    $('#treeview-checkable').treeview('checkNode', [selectNodes, { silent: true }]);
                }
                var parentNode = $("#treeview-checkable").treeview("getNode", node.parentId);
                setParentNodeCheck(node);
            },
            onNodeUnchecked: function(event, node) { //取消选中节点
                // 取消父节点 子节点取消
                var selectNodes = setChildNodeUncheck(node); //获取未被选中的子节点
                var childNodes = getChildNodeIdArr(node);    //获取所有子节点
                if (selectNodes && selectNodes.length==0) { //有子节点且未被选中的子节点数目为0，则取消选中所有子节点
                    console.log("反选");
                    $('#treeview-checkable').treeview('uncheckNode', [childNodes, { silent: true }]);
                }
                // 取消节点 父节点取消
                var parentNode = $("#treeview-checkable").treeview("getNode", node.parentId);  //获取父节点
                var selectNodes = getChildNodeIdArr(node);
                setParentNodeCheck(node);
            }


        });
    });

    // 选中父节点时，选中所有子节点
    function getChildNodeIdArr(node) {
        console.log(1);
        var ts = [];
        if (node.nodes) {
            for (x in node.nodes) {
                ts.push(node.nodes[x].nodeId);
                if (node.nodes[x].nodes) {
                    var getNodeDieDai = getChildNodeIdArr(node.nodes[x]);
                    for (j in getNodeDieDai) {
                        ts.push(getNodeDieDai[j]);
                    }
                }
            }
        } else {
            ts.push(node.nodeId);
        }
        return ts;
    }
    // 取消父节点时 取消所有子节点
    function setChildNodeUncheck(node) {
        console.log(2);
        if (node.nodes) {
            var ts = [];    //当前节点子集中未被选中的集合
            for (x in node.nodes) {
                if (!node.nodes[x].state.checked) {
                    ts.push(node.nodes[x].nodeId);
                }
                if (node.nodes[x].nodes) {
                    var getNodeDieDai = node.nodes[x];
                    console.log(getNodeDieDai);
                    for (j in getNodeDieDai) {
                        if (!getNodeDieDai.state.checked) {
                            ts.push(getNodeDieDai[j]);
                        }
                    }
                }
            }
        }
        return ts;
    }
    // 选中所有子节点时，选中父节点 取消子节点时取消父节点
    function setParentNodeCheck(node) {
        console.log(3);
        var parentNode = $("#permissions").treeview("getNode", node.parentId);
        if (parentNode.nodes) {
            var checkedCount = 0;
            for (x in parentNode.nodes) {
                if (parentNode.nodes[x].state.checked) {
                    checkedCount ++;
                } else {
                    break;
                }
            }
            if (checkedCount == parentNode.nodes.length) {  //如果子节点全部被选 父全选
                $("#permissions").treeview("checkNode", parentNode.nodeId);
                setParentNodeCheck(parentNode);
            }else {   //如果子节点未全部被选 父未全选
                $('#permissions').treeview('uncheckNode', parentNode.nodeId);
                setParentNodeCheck(parentNode);
            }
        }
    }

</script>